.admin-profile {
  display: flex;
  align-items: center;
  justify-content: space-between; /* פריסת מרכיבים */
  width: 100vw; /* כל רוחב המסך */
  position: fixed; /* להצמיד לראש הדף */
  right: 0;
  padding: 0rem 1.5rem;
  background-color: white;
  z-index: 1000;
  direction: rtl;
  position: absolute;
  padding-top: 20px;
}
.admin-icon {
  color: teal;
}

.admin-info {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  color: #333;
}

.admin-name {
  font-weight: bold;
}

.admin-email {
  font-size: 0.8rem;
  color: #555;
}

.logout-btn {
  margin-right: auto;
  background-color: transparent;
  border: none;
  color: #e74c3c;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  transition: color 0.2s ease;

  &:hover {
    color: #c0392b;
  }
}
